<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Master</string>
			<key>footerText</key>
			<string>BETA 0.2</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>OBVSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.obumbravit.parallaxed</string>
			<key>key</key>
			<string>ParallaxedSwitch</string>
			<key>label</key>
			<string>Parallaxed Enabled</string>
			<key>icon</key>
			<string>Parallaxed.png</string>
			<key>PostNotification</key>
			<string>com.obumbravit.parallaxed/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Wallpaper Settings</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>OBVLinkCell</string>
			<key>cellClass</key>
			<string>LIPImageChooseCell</string>
			<key>label</key>
			<string>Choose Wallpaper</string>
			<key>action</key>
			<string>chooseImage</string>
			<key>defaults</key>
			<string>com.obumbravit.parallaxed</string>
			<key>key</key>
			<string>ParallaxedImage</string>
			<key>usesJPEG</key>
			<true/>
			<key>compressionQuality</key>
			<real>1.0</real>
			<key>PostNotification</key>
			<string>com.obumbravit.parallaxed/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Scroll Customization</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>OBVSliderCell</string>
			<key>label</key>
			<string>Distance</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
      <string>com.obumbravit.parallaxed</string>
			<key>key</key>
			<string>ParallaxedDistance</string>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>5</real>
			<key>showValue</key>
			<false/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<real>4</real>
			<key>PostNotification</key>
			<string>com.obumbravit.parallaxed/preferences.changed</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>OBVSliderCell</string>
			<key>label</key>
			<string>Delay</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
      <string>com.obumbravit.parallaxed</string>
			<key>key</key>
			<string>ParallaxedDelay</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<false/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>com.obumbravit.parallaxed/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extras</string>
			<key>footerText</key>
			<string>❤️</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>OBVButtonCell</string>
			<key>action</key>
			<string>twitter</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>@Obumbravit</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>OBVButtonCell</string>
			<key>action</key>
			<string>kofi</string>
			<key>icon</key>
			<string>kofi.png</string>
			<key>label</key>
			<string>Buy me a ☕️</string>
		</dict>
	</array>
	<key>title</key>
	<string>Parallaxed</string>
</dict>
</plist>
